@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400$display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f4f4fc;
    height: 90vh;
}

#contenedor-principal {
    position: absolute;
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 10vh;
}

.logo {
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

main {
    width: 100%;
    height: 90vh;    
    display: flex;
    justify-content: space-between;
}

.seccion-1 {
    width: 75%;
    margin-top: 100px;
}

.ingreso-texto {
    left: 200px;
    top: 100px;
    padding-left: 100px;
    width: 1080px;
    height: 500px;
}

.ingreso {
    width: 80%;
    height: 100%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.ingreso::placeholder {
    color: #0A3871;
}

.mensaje {
    display: flex;
    top: 550px;
    left: 370px;
    color: #495057;
    padding-left: 100px;
    padding-top: 15px;
}

.botones-encripcion {
    top: 600px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;
    margin-top: 50px;
}

.boton-encriptar {
    background-color: #0A3871;
    color: #ffffff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-right: 20px;
}

.boton-desencriptar {
    background-color: #d8dfed;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.boton-encriptar:hover {
    background-color: #072B61;
}

.boton-desencriptar:hover {
    background-color: #eff1fa;
}

.seccion-2 {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    right: 200px;
    padding-left: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.muneco {
    left: 30px;
    top: 180px;
    box-sizing: border-box;
    padding-top: 50px;
}

.contenedorBajoMuneco {
    box-sizing: border-box;
    top: 570px;
    left: 40px;
}

.mensaje-destacado {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;    
    color: #343A40;
} 

.contenedorBajomuneco p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.contenedor-resultado {
    bottom: 330px;
    width: 320px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
}

.contenedor-resultado p {
    color: #495057;
    font-size: 25px;
}

.contenedor-copiar {
    display: flex;
    bottom: 400px;
    top: 700px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}

.boton-copiar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    top: 50px;
    right: 4px;
}

.ocultar {
    display: none;
}
