* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f4f4fc;
    height: 90vh;
}

#contenedorPrincipal {
    position: absolute;
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 10vh;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    resize: none;
}

::placeholder { color: #0A3871;}
    .text-area:focus {
        outline: none;
    }

.mensajeEncriptado {
    background: white;
    background-image: url(images/Muñeco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 78px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    resize: none;
    background-position: center;
}

.mensajeEncriptado:focus {
    outline: none;
}

.alerta {
    display: flex;
    align-items: center;
    
}

.alertaIcono {
    height: 18px;
    margin-right: 5px;
}

.alertaTexto {
    color: #495057;
    font-size: 18px;
}

.botonesEncriptacion {
    display: flex;
    margin-top: 18px;
}

.botonEncriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.botonDesencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.botonEncriptar:hover {
    background-color: #072B61;
}

.botonDesencriptar:hover {
    background-color: #eff1fa;
}

.seccionDos {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    right: 200px;
    padding-left: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.contenedorMuneco {
    left: 30px;
    top: 180px;
    box-sizing: border-box;
    padding-top: 50px;
}

.contenedorBajoMuneco {
    box-sizing: border-box;
    top: 570px;
    left: 40px;
}

.mensajeDestacado {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;    
    color: #343A40;
} 

.contenedorBajoMuneco p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.contenedorCopiar {
    display: flex;
    bottom: 400px;
    top: 700px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}

.botonCopiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
    background-position: center;
    position: fixed;

}

footer {
    text-align: center;
    font-size: 0.6em;
}

footer {
    text-align: center;
    margin: 0;
    padding-top: 1em;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

footer a {
    font-size: 1em;
}